<h1> Student Details
   
</h1>


<table>

   <%= link_to "new", student_new_path %>
   
  <tr>
     
    <%# <th scope="col">Image</th> %>
    <th scope="col">Name</th>
    <th scope="col">Roll</th>
    <th scope="col">Address</th>
    <th scope="col">Email</th>
     <th>Action</th>
  </tr>
<% @students.each do |student| %>

  <tr>
        
      <%# <td> <%= image_tag student.profile_image,style: 'height:100%;width:auto;'</td %>
      
    


      
     <td> <%= student.name%></td>
     <td> <%= student.roll%></td>
     <td> <%= student.address%></td>
     <td> <%= student.email%> </td>
      

    <td><%= link_to "View", student %> 
        <%= link_to "Edit", edit_student_path(student) %>
        <%=  button_to 'Delete', delete_student_path(student), data: {  turbo_method: :delete,
                    turbo_confirm: "Are you sure?"} , method: :delete%>

    </td>
</tr>

  <% end %>

 </table>
 <footer>
  <p>Author: My Self<br>
  <a href="mailto:hege@example.com">Shaynasingh@example.com</a></p>
</footer>

 <style>
 *{
    margin:0px;
    padding:0px;
 }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* background-color:pink; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
h1{
text-align:center;
background-color: rgba(50, 115, 220, 0.3);
text-align: center;
height:60px;
color: white;

}
footer {
  text-align: center;
  padding: 3px;
  /* background-color: DarkSalmon; */
  background-color: rgba(50, 115, 220, 0.3);
  color: white;
}
button {
  border: none;
  background-color:blue;

  color:white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
button:hover{
  background-color:red;
}
td,image_tag{
  height:100px;
}

 </style>

